/org.bpel4chor.mergeChoreography.test/bin/org/bpel4chor/mergechoreography/test/*.class
/org.bpel4chor.mergeChoreography.test/bin/org/bpel4chor/mergechoreography/test/*.class
/org.bpel4chor.mergeChoreography.test/bin/org/bpel4chor/mergechoreography/test/util/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/exceptions/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/exceptions/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/exceptions/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/exceptions/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/exceptions/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/exceptions/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/matcher/communication/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/matcher/communication/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/matcher/communication/sync/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/pattern/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/pattern/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/pattern/communication/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/pattern/communication/async/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/pattern/communication/async/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/pattern/communication/async/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/pattern/communication/async/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/pattern/communication/async/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/pattern/communication/async/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/pattern/communication/async/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/pattern/communication/async/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/pattern/communication/async/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/pattern/communication/async/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/pattern/communication/sync/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/util/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/util/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/util/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/util/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/util/*.class
/org.bpel4chor.mergeChoreography.test/logger.log
/org.bpel4chor.mergeChoreography.test/logger.log.1
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/matcher/communication/async/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/matcher/communication/async/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/matcher/communication/async/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/matcher/communication/async/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/matcher/communication/async/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/matcher/communication/async/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/matcher/communication/async/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/matcher/communication/async/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/matcher/communication/async/*.class
/org.bpel4chor.mergeChoreography/bin/org/bpel4chor/mergechoreography/matcher/communication/async/*.class
/org.bpel4chor.mergeChoreography/*.log
